@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap&subset=vietnamese');
@tailwind base;
@tailwind components;
@tailwind utilities;

*:before,
*:after {
  @apply box-border m-0
}

* {
    font-family: Cabin;
    /* box-sizing: border-box; */
}

.__nuxt-error-page .error svg {
  margin: 0 auto;
}
.__nuxt-error-page .description {
  display: none;
}
.el-loading-spinner {
  display: flex;
  justify-content: center;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}

.block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    border-left: 4px solid #FF4868;
}

.block__header h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #383F47;
}

.block__header a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FF4868;
}

.fade-enter {
  opacity:0;
}

.fade-enter-active{
  animation: fadein 1s;
}

.fade-leave {
  opacity:1;
}

.fade-leave-active {
  animation: fadein 1s reverse;
}


@keyframes fadein {
  from {opacity: 0;}
  to   {opacity: 1;}
}

/* loading dots */

.loading__dot:after {
  content: ' ...';
  font-size: 24px;
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
    }
}

.banner__content .searchTrip{
  background-color: #fff;
  padding: 12px 18px;
  display: inline-flex!important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;
}

.searchTrip__input .el-date-editor .el-icon-circle-close,
.searchTrip__input .el-date-editor .el-input__prefix {
  display: none;
}
.searchTrip__input .el-select {
  width: 100%;
}
.searchTrip__input .el-select .el-select__caret{
  display: none;
}
.searchTrip__input input.el-input__inner{
  border-color: transparent!important;
  padding: 0px;
}

.searchTrip__input input.el-input__inner::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B0B5C1;
}
.searchTrip__icon svg{
  width: 24px!important;
  height: 26px!important;
}

.searchTicket .el-dialog{
  padding: 0px;
}

.searchTicket .el-dialog .el-dialog__header {
  padding: 0px!important;
  margin-bottom: 16px;
  padding: 24px 24px 0px 24px!important;

}

.searchTicket .el-dialog .el-dialog__body {
  padding: 24px!important;
}

.searchTicket__form>p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #646D84;
  margin-bottom: 8px;
}

.searchTicket__form input {
  height: 40px;
  background: #F9FAFC;
  border: 1px solid #ECEDF1;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #383F47;
}

.searchTicket__form button {
  background: #FF4868;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.searchTicket .el-dialog .el-dialog__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #383F47;
}

.blockPartner {
  background-color: transparent;
}

.blockPartner .VueCarousel-inner .VueCarousel-slide {
  margin-right: 20px;
  /* background: linear-gradient(19.9deg, #FF4868 42.52%, rgba(255, 255, 255, 0) 88.98%); */
  /* opacity: 0.7; */
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));
  border-radius: 12px;
  overflow: hidden;
}

.blockPartner .VueCarousel-inner .VueCarousel-slide img {
    height: 100px;
    width: auto;
}

.msearchTrip__input .el-select {
  width: 100%!important;
}

.msearchTrip__input {
  padding: 15px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 8px;
}
.msearchTrip__input .el-date-editor,
.msearchTrip__input .el-input .el-input__inner,
.msearchTrip__input .el-input.is-focus .el-input__inner {
  border-color: transparent;
}

.msearchTrip__input .el-icon-date,
.msearchTrip__input .el-select__caret {
  display: none;
}

.msearchTrip__input .el-input input{
  padding-left: 0px;
}
.msearchTrip__submit {
  margin-top: 16px;
}
.msearchTrip__submit button {
  background: #FF4868;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  padding: 0px 16px;
}

.navbar .bm-burger-button {
  cursor: pointer;
  height: 32px;
  left: 16px;
  position: absolute;
  top: 21px;
  width: 32px;
}

.navbar .line-style {
  height: 10%;
  left: 0;
  position: absolute;
  right: 0;
}

.navbar .line-style:nth-child(2) {
top: 30%!important;
}

.navbar .line-style:nth-child(3) {
top: 70%!important;
}

.mPolicy .el-tabs__header{
  display: none;
}

.mPolicy .el-select {
  width: 100%;
  margin-bottom: 16px;
  border-color: #ECEDF1;
}

.mPolicy .el-select input {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #383F47;
}

.mPolicy .el-select .el-select__caret::before {
  color: #FF4868;
}

.seatItem.seatSelected svg [fill]{
  fill: #FF4868!important;
}

.seatItem.seatBooked svg [fill] {
  fill: #ECEDF1!important
}

.tripFilter__input {
  background: #FFFFFF;
  border: 2px solid #ECEDF1;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
}
.tripFilter__input svg {
  width: 20px!important;
  height: 20px!important;
}
.tripFilter__input input {
  height: 48px;
  border: none!important;
  padding-left: 0px!important;
}
.tripFilter__input .el-input__prefix,
.tripFilter__input .el-input__suffix-inner {
  display: none;
}
.tripFilter__input input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #B0B5C1;
}

.tripFilter__time .el-checkbox__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #383F47;
  padding-left: 11px;
}

.tripFilter__time span.el-checkbox__inner {
  width: 18px;
  height: 18px;
  border-color: #383F47;
}

.tripFilter__time .el-checkbox {
  margin-bottom: 18px;
}
.tripFilter__time .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #383F47!important;
}

.tripFilter__time .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #fff!important;
  border-color: #FF4868!important;
}

.tripFilter__time .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #383F47;
}

.tripFilter__time .el-checkbox__input.is-checked .el-checkbox__inner::after {
  border-color: #FF4868;
  top: 3px;
  left: 6px;
}

.tripInfo__point .el-select {
  margin-bottom: 16px;
}

.tripInfo__point .el-select .el-select__caret {
  color: #FF4868;
}
.tripInfo__point .el-input__inner {
  background: #FFFFFF;
  height: 40px;
  border: 1px solid #ECEDF1;
  box-sizing: border-box;
  border-radius: 4px;
}

.tripInfo__point .el-input__inner::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #383F47;
}

.tripItem__name span svg {
  height: 16px!important;
}

.mTrip__payment .payment__header {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mTrip__payment .payment__header h3 {
  margin-bottom: 8px;
}

.payment__type .el-radio-group span.el-radio__inner {
  width: 21px;
  height: 21px;
  border: 2px solid #FF4868;
  background-color: #fff;
}

.payment__type .el-radio__input.is-checked .el-radio__inner::after{
  background-color: #FF4868;
  width: 9px;
  height: 9px;
  left: calc(50% - 1px);
  top: calc(50% - 1px);
}

.payment__type .el-radio.is-checked .el-radio__label,
.payment__type .el-radio .el-radio__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #383F47;
}

.seatMap__note h4 b svg {
  width: 18px!important;
  height: 21px!important;
}

.seatItem__selected svg [fill="#383F47"]{
  fill: #FF4868
}

.seatItem__booked svg [fill="#383F47"]{
  fill: #ECEDF1
}

.trip__userInfo__input .el-checkbox.is-checked .el-checkbox__label {
  color: unset;
}

.trip__userInfo__input .el-checkbox__label span {
  color: #FF4868;
}

.trip__userInfo__input .el-checkbox__inner {
  border-color: #646D84!important;
  background-color: #ffffff!important;
}

.trip__userInfo__input  .el-checkbox.is-checked .el-checkbox__inner,
.trip__userInfo__input  .el-checkbox.is-checked .el-checkbox__inner::after {
  border-color: #FF4868!important;
}

.tripDetail button.disabled {
  background: #ECEDF1!important;
  color: #B0B5C1!important;
  pointer-events: none;
}

.payment__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.payment__header h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #383F47;
}

.payment__header span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FF4868;
}

.payment>p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #646D84;
  margin-bottom: 24px;
}

.payment__type .el-radio-group>label{
  display: block;
  margin-bottom: 16px;
}

.tripDetail {
  padding-top: 24px;
  padding-bottom: 80px;
}
.tripDetail__content {
  background: #FFFFFF;
  /* shadow/background */

  /* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08); */
  border-radius: 4px 4px 0px 0px;
}
.seatMap__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.seatMap__header h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #383F47;
}

.seatMap__note {
  display: flex;
}

.seatMap__note h4 {
  display: flex;
  align-items: center;
  margin-left: 19px;
}

.seatMap__note h4 b {
  margin-right: 11px;
}

.seatMap__note h4 span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #383F47;
}

.seatMap__wrap {
  padding: 24px;
  background: #FFFFFF;
  /* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08); */
  /* border-radius: 4px 4px 0px 0px; */
}
.tripDetail__price {
  margin-top: 16px;
  padding: 16px 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 4px 4px;

}


.tripDetail__price__content {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 4px solid #FF4868;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tripDetail__price__content button {
  background: #FF4868;
  border-radius: 4px;
  padding: 9px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 8px;
}


.tripDetail__price .switchBack {
  background: #FFFFFF;
  border: 2px solid #9399A9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #646D84;
}

.tripDetail__price h4 b{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #9399A9;
  margin-right: 16px;
}

.tripDetail__price h4 span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #383F47;
  margin-right: 8px;
}

.tripDetail__price h4 span::after {
  content: ",";
}
.tripDetail__price h4 span:last-child::after {
  content: "";
}

.trip_userInfo__wrap {
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px 4px 0px 0px;
}

.trip__userInfo h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #383F47;
  margin-bottom: 24px;
}

.trip__userInfo__input label{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #646D84;
  margin-bottom: 8px;
  display: block;
}

.trip__userInfo__input {
  margin-bottom: 16px;
}

.trip__userInfo__input .el-checkbox .el-checkbox__label{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #383F47;
}
.trip__userInfo__input textarea,
.trip__userInfo__input input[type="text"],
.trip__userInfo__input input[type="number"] {
  height: 40px;
  padding: 11px 10px;
  width: 100%;
  background: #F9FAFC;
  border: 1px solid #ECEDF1;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #383F47;
}

.trip__userInfo__input textarea {
  height: 100px;
}

.trip__policy h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FF4868;
  margin-bottom: 8px;
}

.trip__policy p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #646D84;
}

.px-15px {
  padding-left: 15px;
  padding-right: 15px;
}

.mr--15px {
  margin-left: -15px;
  margin-right: -15px;
}

.payment {
  padding: 24px;
}

.newsPage__new .VueCarousel-slide {
  margin-right: 32px;
}
.newsPage__new .VueCarousel-slide img {
  height: 198px!important;
  object-fit: cover;
  width: 100%;
}
.newsPage__new .VueCarousel-navigation-button {
  top: 22%;
}

.newsPage__new .VueCarousel-navigation-button.VueCarousel-navigation-prev { left: 47px; }
.newsPage__new .VueCarousel-navigation-button.VueCarousel-navigation-next { right: 47px; }
.newsPage__new .VueCarousel-navigation-button:focus {
  outline: none;
}